<nav class="nav__bar">
    <div class="logo">
        <a href="/">
            <img src="../image/logo-removebg-preview.png">
        </a>
    </div>
    <div class="nav__info">
        <ul class="nav__items">
            <li class="nav__links">
                <a href="campaigns">Campaigns</a>
                <a href="president">President</a>
                <a href="finance">Finance</a>
                <a href="library">Library</a>
            </li>
        </ul>
    </div>
    <button class="humbuger is-active">
        <div class="bar"></div>
    </button>
</nav>
<nav class="mobile-nav">
    <ul class="nav__items">
        <li class="nav__links">
            <a href="campaigns">Campaigns</a>
            <a href="president">President</a>
            <a href="finance">Finance</a>
            <a href="library">Library</a>
        </li>
    </ul>
</nav>
</html>
    <div class="links">
        <ul>
            <li class="nav__links">
                <a href="#presidents">President candidates</a>
                <a href="#finance">Finance candidates</a>
                <a href="#library">Library candidates</a>
            </li>
        </ul>
    </div>
    <div class="menu__icon">
        <i class="fas fa-bars"></i>
    </div>
</nav>
<main class="main">
    <div class="first" id="presidents">
        <img src="../image/andrey-zvyagintsev-byfNhh81CWU-unsplash.jpg" 
        alt="">
        <div class="para">
            <h1>John Doe</h1>
            <p>
                i john kazi promise to that when i become president you 
                will all have an opportunity to work with the school
                i am a 3.1 student ,i have been running the enviromental 
                team and you can inquire from them i am a good leader
                when i become president results wont be visibila to everone
                i promise that the it team will get new labs and resourses
            </p>
        </div>
    </div>
    <div class="first">
        <img src="../image/matheus-ferrero-pg_WCHWSdT8-unsplash.jpg" 
        alt="">
        <div class="para">
            <h1>John Doe</h1>
            <p>
                i john kazi promise to that when i become president you 
                will all have an opportunity to work with the school
                i am a 3.1 student ,i have been running the enviromental 
                team and you can inquire from them i am a good leader
                when i become president results wont be visibila to everone
                i promise that the it team will get new labs and resourses
            </p>
        </div>
    </div>
    <div class="first">
        <img src="../image/imansyah-muhamad-putera-n4KewLKFOZw-unsplash.jpg" 
        alt="">
        <div class="para">
            <h1>John Doe</h1>
            <p>
                i john kazi promise to that when i become president you 
                will all have an opportunity to work with the school
                i am a 3.1 student ,i have been running the enviromental 
                team and you can inquire from them i am a good leader
                when i become president results wont be visibila to everone
                i promise that the it team will get new labs and resourses
            </p>
        </div>
    </div>
    <div class="first">
        <img src="../image/hamid-tajik-uvnApE6gmnM-unsplash.jpg" 
        alt="">
        <div class="para">
            <h1>John Doe</h1>
            <p>
                i john kazi promise to that when i become president you 
                will all have an opportunity to work with the school
                i am a 3.1 student ,i have been running the enviromental 
                team and you can inquire from them i am a good leader
                when i become president results wont be visibila to everone
                i promise that the it team will get new labs and resourses
            </p>
        </div>
    </div>
</main>
<script src="/js/campaign.js" />