<nav class="nav__bar">
    <div class="logo">
        <a href="./campaign.html">
            <img src="../image/logo-removebg-preview.png" >
        </a>
    </div>
    <div class="nav__info">
        <ul class="nav__items">
            <li class="nav__links">
                <a href="campaigns">Campaigns</a>
                <a href="president">President</a>
                <a href="finance">Finance</a>
                <a href="library">Library</a>
            </li>
        </ul>
    </div>
    <button class="humbuger is-active">
        <div class="bar"></div>
    </button>
</nav>
<nav class="mobile-nav">
    <ul class="nav__items">
        <li class="nav__links">
            <a href="campaigns">Campaigns</a>
            <a href="president">President</a>
            <a href="finance">Finance</a>
            <a href="library">Library</a>
        </li>
    </ul>
</nav>
<main>
    <form action="/pages/library" method="post" id="aspirants">
        <div class="upper__column">
            <div class="asp__profile">
                <img src="../image/megan-bagshaw-BDWM-YM2aXg-unsplash (2).jpg" 
                alt="">
                <h2>Kael</h2>
                <p>DCSS-01-1234/2020</p>
                <input type="radio" name="zt" id="kael" value="Kael">
                <label for="kael"></label>
            </div>
            <div class="asp__profile">
                <img src="../image/max-ilienerwise-YvWJOXHNJ94-unsplash.jpg" 
                alt="">
                <h2>Suzan</h2>
                <p>DCSS-01-1234/2020</p>
                <input type="radio" name="zt" id="suzan" value="Suzan">
                <label for="suzan"></label>
            </div>
        </div>
        <div class="lower__column">
            <div class="asp__profile">
                <img src="../image/houcine-ncib-B4TjXnI0Y2c-unsplash.jpg" 
                alt="">
                <h2>Peter</h2>
                <p>DCSS-01-1234/2020</p>
                <input type="radio" name="zt" id="peter" value="Peter">
                <label for="peter"></label>
            </div>
            <div class="asp__profile">
                <img src="../image/christopher-campbell-rDEOVtE7vOs-unsplash.jpg" 
                alt="">
                <h2>John</h2>
                <p>DCSS-01-1234/2020</p>
                <input type="radio" name="zt" id="john" value="John">
                <label for="john"></label>
            </div>
            <input type="submit" value="Vote">
        </div>
    </form>
    <div id="chartContainer"></div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/4.2.2/pusher.min.js"></script>
<script src="/js/canvasjs.min.js"></script>
<script src="/js/library.js"></script>