<main>
  <div class="reg__form">
      <h2>Login</h2>
      <form action="/pages/campaigns">
          <input type="email" placeholder="Email adress" required>
          <input type="password" placeholder="Enter password" required>
          <input type="submit" value="Login" id="btn">
      </form>
      <p>
          Don't have an account? 
          <a href="/users/register">Register</a>
      </p>
  </div>
</main>